header {
  font-size: smaller;
  margin-bottom: 10px;
}

.todo-app {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 200px;
  margin-top: 50px;
  /* border-radius: 50px 80px; */
  transition: background-color 0.3s, color 0.3s;
  margin-left: auto;
  margin-right: auto;
}

.theme-toggle {
  /* border: none; */
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 20rem;
}

.theme-toggle svg {
  transition: transform 0.3s ease, color 0.3s ease;
}

.theme-toggle:hover svg {
  transform: rotate(20deg);
  color: #ad48ff;
}
.todo-app.light {
  background-color: white;
  color: #222;
}

.todo-app.dark {
  background-color: black;
  color: white;
}

.todo-app.dark .theme-toggle {
  background-color: white;
  color: black;
  border: 2px solid #ad48ff;
}

.todo-app.dark input,
.todo-app.dark select {
  background-color: #222;
  color: white;
  border-color: #ad48ff;
}

.todo-app.dark .todo-input input::placeholder {
  color: white;
}

.todo-app.dark button {
  background-color: #222;
  color: white;
  border: #ad48ff 2px solid;
}

.todo-input {
  display: flex;
  height: 45px;
  gap: 0.5rem;
  margin: 0 9px;
  margin-bottom: 10px;
}

.todo-input input {
  border-radius: 4px;
  border: 2px #ad48ff solid;
  outline: none;
  padding-left: 10px;
  width: 300px;
  max-width: 350px;
}

.todo-input input::placeholder {
  color: black;
  font-size: 0.9em;
}

.todo-input input:focus {
  outline: none;
}

.todo-input select {
  background-color: #ad48ff;
  color: white;
  padding-left: 5px;
  margin-left: -9px;
  border-radius: 4px;
  width: 70px;
}

.todo-input select:focus {
  outline: none;
}

.todo-input button {
  width: 3rem;
  background-color: white;
  border: 2px solid #ad48ff;
  border-radius: 4px;
}

.todo-input select {
  border: 2px solid;
}

.delete-button {
  background-color: black;
  color: white;
  margin-left: 10px;
  border: none;
  padding: 1px 3px;
}

.delete-button:hover {
  cursor: pointer;
  background-color: #ad48ff;
}

.todo-item-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.todo-item-text {
  word-wrap: break-word;
  white-space: normal;
  border-bottom: 1.5px solid #ad48ff;
  line-height: 27px;
  overflow-wrap: break-word;
  padding: 7px 0;
  font-size: 13px;
  flex: 1;
  width: 340px;
  min-width: 75%;
  word-break: break-all;
}

.todo-item-text.dark {
  border-bottom: 1.5px solid ad48ff;
}

.todo-item-text span {
  font-weight: bold;
  padding-left: 10px;
}

@media (max-width: 600px) {
  .todo-app.light,
  .todo-app.dark {
  }

  .todo-input input {
    width: 13.5rem;
    font-size: 17px;
  }
  .todo-input button {
    font-size: 17px;
  }
  .todo-input select {
    flex: 1;
  }
  .todo-item-text {
    width: 280px;
    line-height: 27px;
    padding: 7px 0;
    font-size: 16px;
  }
}
